<%= turbo_frame_tag "new_bookmark", target: "_top" do %>
<%= form_with(
    model: @bookmark,
    url: bookmarks_create_path,
    method: :post,
    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }
  ) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= link_to "Cancel", bookmarks_path %>
    <%= form.submit %>
  </div>
<% end %>
<% end %>