<%= form_with(
    model: @bookmark,
    url: bookmarks_create_path,
    method: :post,
    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset turbo:submit-end->modal#close" }
  ) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>