<div
  id="<%= dom_id(tag) %>"
  class="h-7 inline-flex items-center gap-2 py-px px-2 rounded-lg transition-all hover:opacity-90 w-fit shrink-0"
  style="<%= tag_container_style(tag) %>"
>
  <span
    class="text-xs font-semibold truncate"
    style="<%= tag_text_style(tag) %>"
  >
    <%= tag.name %>
  </span>
  <div class="flex items-center gap-0.5 transition-opacity">
    <%= link_to edit_tag_path(tag), class: "p-0.5 text-zinc-400 cursor-pointer hover:text-zinc-100 hover:bg-zinc-700/80 rounded-lg transition-colors" do %>
      <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
      </svg>
    <% end %>
    <%= button_to tag_path(tag), method: :delete, data: { turbo_confirm: "Are you sure about that?" }, class: "p-0.5 text-zinc-400 cursor-pointer hover:text-red-400 hover:bg-red-500/20 rounded-lg transition-colors" do %>
      <svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
      </svg>
    <% end %>
  </div>
</div>
