<html>
  <%= render "layouts/head" %>
  <body class="line-seed">
    <%= turbo_frame_tag 'modal' do %>
      <%= tag.dialog(
          class: 'modal hidden open:flex fixed inset-0 z-50 h-full w-full bg-black/60 backdrop-blur-md p-0 border-none items-center justify-center duration-300',
          open: response.message&.start_with?('Unprocessable'),
          data: { controller: 'modal' }
      ) do %>
        <div class="bg-zinc-900 border border-zinc-800 p-5 rounded-2xl shadow-2xl w-full m-4 transform duration-300 scale-100 opacity-100 shadow-orange-500/5 <%= content_for?(:modal_size) ? yield(:modal_size) : 'max-w-sm' %>">
          <div class="mb-2">
            <%= yield :modal_header %>
          </div>

          <div class="text-zinc-300">
            <%= content_for?(:modal_content) ? yield(:modal_content) : yield %>
          </div>

          <div class="flex justify-end items-center gap-2 mt-4">
            <% unless content_for?(:hide_modal_cancel) %>
              <%= button_tag 'Cancel', type: 'button', class: 'cursor-pointer px-4 py-2 text-zinc-500 hover:text-zinc-300 transition-colors text-sm font-semibold',
                  data: { action: 'modal#close' } %>
            <% end %>
            <%= yield :modal_footer %>
          </div>  
        </div>  
      <% end %>
    <% end %>
  </body>
</html>
